/* Custom */

    .bg-2 {
    background-color: #474e5d;
    color: #ffffff;
    }

    .bg-about {
    background-color: #fae596;
    color: #173e43;
    }

    .bg-experience {
      background-color: #dddfd4;
      color: #173e43;
    }


    #hero {
      margin: 0;
      background-image: url('../images/iron-man.jpg');
      height: 100vh;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: -10;
    }

    #hero-overlay {
      background-color: #22A39F;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0.75;
      filter: alpha(opacity=75);
      z-index: -11;
    }

    .vertical-center {
      min-height: 100%;
      /*min-height: 100vh;*/

      display: flex;
      align-items: center;
    }

    #hero-text {
      color: #FFF;
    }

    .carousel-caption .overlay
    {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      color: #fff;
      text-align: center;
      background: rgba(0,0,0,0.4);
    }

    .gold-star {
      color: #ff8f00;
    }

    .grey-star {
      color: #bdbdbd;
    }


    /*Freelance Code*/

  body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }
  p {
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: #18BC9C;
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }

  ul.no-bullets {
    list-style: none;
    padding: 0;
  }

  hr.thick-line {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 400px;
    margin: 25px auto 30px;
    color: #FFFFFF;
  }

  hr.thin-line-primary {
    border-top: solid 2px;
    color: #2C3E50;
  }

  hr#about-header {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
    color: #173e43;
  }

  hr.star-light,
  hr.star-primary,
  hr.star-yellow,
  hr.star-beige {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  hr.star-light:after,
  hr.star-primary:after,
  hr.star-yellow:after,
  hr.star-beige:after {
    content: "\f0eb";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }
  hr.star-light {
    border-color: white;
  }

  hr.star-light:after {
    background-color: #18BC9C;
    color: white;
  }

  hr.star-primary {
    border-color: #2C3E50;
  }

  hr.star-primary:after {
    background-color: white;
    color: #2C3E50;
  }

  hr.star-yellow {
    border-color: #2C3E50;
  }

  hr.star-yellow:after {
    background-color: #fae596;
    color: #2C3E50;
  }

  hr.star-beige {
    border-color: #2C3E50;
  }

  hr.star-beige:after {
    background-color: #dddfd4;
    color: #2C3E50;
  }

  .img-centered {
    margin: 0 auto;
  }

  .img-circle {
    border-width: 2px;
    border-style: solid;
    color: white;
  }

  header {
    text-align: center;
    background: #18BC9C;
    color: white;
  }
  header .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  header img {
    display: block;
    margin: 0 auto 20px;
  }
  header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
  }
  header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
  }
  @media (min-width: 768px) {
    header .container {
      padding-top: 200px;
      padding-bottom: 100px;
    }
    header .intro-text .name {
      font-size: 4.75em;
    }
    header .intro-text .skills {
      font-size: 1.75em;
    }
  }
  .navbar-custom {
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
  }
  .navbar-custom a:focus {
    outline: none;
  }
  .navbar-custom .navbar-brand {
    color: white;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus,
  .navbar-custom .navbar-brand:active,
  .navbar-custom .navbar-brand.active {
    color: white;
  }
  .navbar-custom .navbar-nav {
    letter-spacing: 1px;
  }
  .navbar-custom .navbar-nav li a {
    color: white;
  }
  .navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: none;
  }
  .navbar-custom .navbar-nav li a:focus,
  .navbar-custom .navbar-nav li a:active {
    color: white;
  }
  .navbar-custom .navbar-nav li.active a {
    color: white;
    background: #18BC9C;
  }
  .navbar-custom .navbar-nav li.active a:hover,
  .navbar-custom .navbar-nav li.active a:focus,
  .navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #18BC9C;
  }
  .navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
  }
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
    background-color: #18BC9C;
    color: white;
    border-color: #18BC9C;
  }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 25px 0;
      -webkit-transition: padding 0.3s;
      -moz-transition: padding 0.3s;
      transition: padding 0.3s;
    }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-custom.affix {
      padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em;
    }
  }
  section {
    padding: 100px 0;
  }
  section h2 {
    margin: 0;
    font-size: 3em;
  }
  section.success {
    background: #18BC9C;
    color: white;
  }
  @media (max-width: 767px) {
    section {
      padding: 75px 0;
    }
    section.first {
      padding-top: 75px;
    }
  }
  #portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
  }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .caption {
    background-color: #22A39F;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  #portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.55;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
  #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
  }
  #portfolio * {
    z-index: 2;
  }
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 18px 0 30px;
    }
  }
  .floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
  }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
  }
  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }
  .floating-label-form-group-with-focus label {
    color: #18BC9C;
  }
  form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
  }
  footer {
    color: white;
  }
  footer h3 {
    margin-bottom: 30px;
  }
  footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
  }
  footer .footer-col {
    margin-bottom: 50px;
  }
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
  }
  .btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
  }
  .btn-outline:hover,
  .btn-outline:focus,
  .btn-outline:active,
  .btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white;
  }
  .btn-primary {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #1a242f;
    border-color: #161f29;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
  }
  .btn-primary .badge {
    color: #2C3E50;
    background-color: white;
  }
  .btn-success {
    color: white;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700;
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    color: white;
    background-color: #128f76;
    border-color: #11866f;
  }
  .btn-success:active,
  .btn-success.active,
  .open .dropdown-toggle.btn-success {
    background-image: none;
  }
  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: #18BC9C;
    border-color: #18BC9C;
  }
  .btn-success .badge {
    color: #18BC9C;
    background-color: white;
  }
  .btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
  .btn:focus,
  .btn:active,
  .btn.active {
    outline: none;
  }
  .scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
  }
  .scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
  }
  .scroll-top .btn:focus {
    outline: none;
  }
  /*.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
  }
  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
  }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px;
  }
  .portfolio-modal .modal-content .item-details {
    margin: 30px 0;
  }
  .portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3;
  }
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    z-index: 1051;
  }
  .portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    z-index: 1052;
  }
  .portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
  }*/

/* Greyscale Style */

a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
